.header {
	transition: all 0.3s ease 0s;
	padding-top: 100px;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 10;
	background-color: $colorBlue;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 10px;
	}
	&__logo{
		position: relative;
		z-index: 5;
		width:56px;
		height:56px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	&.hide{
		padding-top: 10px;
		transition: all 0.3s ease 0s;
	}
}
.menu {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	line-height:1.16 ;
	&__icon {
		display: none;
	}
	&__body {
		margin-right: 140px;
	}
	&__list {
		position: relative;
		margin: 0 0 0 20px;
		li{
			&:not(:last-child) {
				padding-right: 50px;
			}
		}
	}
	&__link {
		&:hover{
			text-decoration: underline;
		}
	}
	&__button{
	}
}
// -------------------------------------------
@media (max-width:991.98px) {
	.menu__list{
		li{
			&:not(:last-child) {
				padding-right: 20px;
			}
		}
	}
	.menu__body {
		margin-right: 40px;
	}
}
@media (min-width:767.98px) {
	.menu__list{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width:767.98px) {
	.header{
		padding-top: 50px;
	}
	.menu{
		position: absolute;
		right:10%;
		&__body{
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			background-color: $colorBlue;
			transition: left 0.3s ease 0s;
			padding: 100px 30px 30px 30px;
			color: #fff;
			overflow: auto;
			&._active {
				left: 0;
			}
            &:before{
                content: '';
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                height: 100px;
                z-index: 2;
            }
		}
		&__list{
			margin-top: 25px;
			li {
				flex-wrap: wrap;
				margin: 0 0 30px 0;
				text-align: center;
			}
			
		}
		&__link {
			font-size: 30px;
		}
		&__icon{
			z-index: 5;
			display: block;
			width: 30px;
			height: 18px;
			cursor: pointer;
			&:before, &:after, span{
				left: 0;
				position: absolute;
				height: 15%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background-color: #fff;
			}
			&:before, &:after{
				content: '';
			}
			&:before{
				top: 0;
			}
			&:after{
				bottom: 0;
			}
			span {
				top: 50% ;
				transform: scale(1) translate(0px, -50%);
			}
			&._active{
				span {
					transform: scale(0) translate(0, -50%);
				}
				&:before {
					top: 50%;
					transform: rotate(-45deg) translate(0, -50%);
				}
				&:after{
					bottom: 50%;
					transform: rotate(45deg) translate(0, 50%);
				}
			}
		}
		&__button{
			display: none;
		}
	}
}
// -------------------------------------------