//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
$colorBlue:#2E4CFF;
$colorWhite:#ffffff;
$colorGray: #c4c4c4;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<Шрифт по умолчанию>==========================================================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$fontfamily:"Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3){
			width: 100%;
			// position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;  background-color: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//</МЕДИА>===============================================================================================

[class*="__container"] {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
/*PC*/
@media (max-width:1080px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/*Tablet*/
@media (max-width:991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/*Mobile*/
@media (max-width:767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/*Mobile small*/
@media (max-width:479.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
@media (max-width:360.98px) {
	[class*="__container"] {
		width: 350px;
	}
}
//</МЕДИА>===============================================================================================
