@import "nullstyle";
@import "preloader";
@import "header";

main{
	flex: 1 1 auto;
}
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color:#E5E5E5;
}
// -------------------------------------------
.btn{
	background-color: $colorWhite;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	font-size: 18px;
	color: $colorBlue;
	&:hover{
		background-color:transparent;
		color:$colorWhite;
		border: 1px solid #FFFFFF;
	}
	&-blue{
		background-color:transparent;
		color:$colorWhite;
		border: 1px solid #FFFFFF;
		&:hover{
			background-color: $colorWhite;
			color: $colorBlue;
			border: 1px solid $colorBlue;
		}
	}
}
//---------------------------------------------
.started {
	background-color: $colorBlue;
	padding-top: 170px;
	&__container {
	}

	&__row {
		display: flex;
		padding: 110px 0 150px 0;
		position: relative;
	}

	&__column {
		flex:1 1 50%;
		color: $colorWhite;
	}
	&__column-1{
		transform: translateX(-100%);
		&._anim{
			transition: all 0.3s ease 0s;
			transform: translateX(0);
		}
		padding-top: 50px;
	}
	&__column-2{
		justify-content: end;
		display: flex;
		position: relative;
	}
	&__column-title {
		font-size: 50px;
		font-weight: 500;
		line-height: 1.16;
		max-width: 526px;
	}

	&__column-text {
		font-size: 20px;
		line-height: 1.16;
		max-width: 470px;
		padding-top: 50px;
	}

	&__column-buttons {
		padding-top: 50px;
	}

	&__column-button-1 {
		margin-right: 35px;
	}

	&__column-button-2 {
	}

	&__column-img {
		position: relative;
		margin-right: 60px;
		z-index: 2;
		img{
			max-width:100%;
			height: 100%;
			object-fit: fill;
		}
	}

	&__column-dot {
		position: absolute;
		top: -54px;
	}
}
//--------------------------------------------------------
@media (max-width:991.98px){
	.started__column-img{
		margin-right: 0px;
	}
}
@media (max-width:767.98px) {
	.started{
		padding-top: 70px;
		&__row{
			flex-direction: column;
			padding: 50px 0 50px 0;
		}
		&__column{
			&-title{
				max-width: 100%;
			}
			&-text{
				text-align: center;
				max-width: 100%;
			}
			&-buttons{
				justify-content: center;
				display: flex;
			}
		}
		&__column-1{
			padding-bottom: 100px;
		}
		&__column-2{
			justify-content: center;
		}
	}
	
}
//--------------------------------------------------------
.title{
	font-weight: 700;
	font-size: 50px;
	line-height: 1.16;
	text-align: center;
	transform: translateY(100%);
		&._anim{
			transition: all 0.3s ease 0s;
			transform: translateY(0);
		}
}
.classes {

	&__container {
	}

	&__row {
		margin: 140px 0px;
		display: flex;
		
		justify-content: space-between;
	}

	&__column {
		flex: 1 1 50%;
		padding-top: 90px;
	}

	&__column-1 {
		position: relative;
	}

	&__column-img {
		position: relative;
		margin-left: 60px;
		z-index: 2;
		img{
			width:100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__column-dot {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__column-2 {
	}

	&__column-title {
		padding-bottom: 130px;
		transform: translateX(100%);
		&._anim{
			transition: all 0.3s ease 0s;
			transform: translateX(0);
		}
	}
	&__column-row{
		display: flex;
		justify-content: flex-end;
		transform: translateX(100%);
		&._anim{
			transition: all 0.3s ease 0.5s;
			transform: translateX(0);
		}
	}
	&__column-subcolumn {
		flex-direction: column;
	}

	&__column-subcolumn-1 {
		padding-right: 40px;
	}

	&__column-subcolumn-box {
		width: 220px;
		height: 220px;
		background-color: $colorBlue;
		box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:first-child{
			margin-bottom: 60px;
		}
		transition: all 0.3s ease 0s;
		&:hover{
			transition: all 0.3s ease 0s;
			transform: translateY(-20px);
		}
	}

	&__column-subcolumn-box-blue {
		
	}

	&__column-subcolumn-box-white {
		background-color: $colorWhite;
	}

	&__column-subcolumn-2 {
		margin-top: 110px;
	}
}
.box-text{
	font-weight: 500;
	font-size: 25px;
	line-height: 1.16;
}
.box-text-white {
	color: $colorWhite;
}
.box-text-blue {
	color: $colorBlue;
}
//-----------------------------------------
@media (max-width:991.98px) {
	.classes{
		&__row{
			flex-direction: column;
			margin: 70px 0;
		}
		&__column-row{
			justify-content: center;
		}
		&__column-1 {
			order: 2;
		}
		&__column-title{
			padding-bottom: 65px;
		}
		&__column-img{
			margin: 0;
		}
	}
}
@media (max-width:500.98px) {
	.classes__column-subcolumn-box{
		width: 150px;
		height: 150px;
		text-align: center;
	}
	.classes__column-subcolumn-1{
		padding-right: 25px;

	}
	.classes__column-1{
		margin-top: 30px;
	}
}
//----------------------------------------------------------
.gallery {
	position: relative;
	padding-bottom: 150px;
	&__container {
	}

	&__title {
		padding-bottom: 150px;
	}

	&__body {
		display: grid;
		grid-template-columns:1.362fr 1fr 1fr;
		gap: 25px;
	}

	&__item {
		position: relative;
		&._active{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 11;
			background: rgba(26, 25, 25, 0.83);
			&:hover{
				img{opacity: 1;}
				background: rgba(26, 25, 25, 0.83);
				.gallery__item-arrow{
					display: none;
				}
			}
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&-big{
			grid-row-start: 1;
			grid-row-end: 3;
		}
		&:hover{
			cursor: pointer;
			background: rgba(196, 196, 196, 0.83);
			img{opacity:0.17;}
			.gallery__item-arrow{
				display: block;
				img{opacity: 1;}
			}
		}
		&-arrow{
			display: none;
			position: absolute;
			top: calc(50% - 25px);
			left:calc(50% - 25px);
			width: 50px;
			height: 50px;
			background-color: $colorBlue;
			border-radius: 50%;
			img{
				object-fit: none;
			}
		}
	}
}
//---------------------------------------
@media (max-width:991.98px) {
	.gallery{
		padding-bottom: 75px;
	}
	.gallery__body {
		grid-template-columns:1fr;
	}
	.gallery__title{
		padding-bottom: 75px;
	}
}
//---------------------------------------
.team {
	padding-bottom: 150px;
	&__container {
	}

	&__title {
		padding-bottom:150px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.column__team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: $colorWhite;
	box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	margin-bottom: 25px;
	&:hover{
		transform: scale(1.1);
		transition: all 0.3s ease 0s;
	}
	&-img {
		margin: 35px 82px;
	}
	&-name {
		font-weight: 700;
		font-size: 25px;
		line-height: 1.16;
		margin-bottom: 25px;
	}
	&-social {
		margin-bottom: 40px;
		&-link{
			&:not(:last-child) {
				margin-right: 25px;
			}
			img{
				&:hover{
					transform: rotate(360deg);
					transition: all 0.3s ease 0s;
				}
			}
		}
	}
	&-date {
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 1.16;
		color: $colorGray;
	}
}
//------------------------------------------
@media (max-width:1250px) {
	.column__team{
		flex: 1 1 48%;
		&:nth-child(odd) {
			margin-right: 25px;
		}
	}
}
@media (max-width:991.98px) {
	.team{
		padding-bottom: 75px;
	}
	.team__title{
		padding-bottom: 75px;
	}
}
@media (max-width:767.98px) {
	.team__row{
		flex-direction: column;
	}
	.column__team{
		&:nth-child(odd) {
			margin-right: 0px;
		}
	}
}
//-----------------------------------------------
.price {
	padding-bottom: 150px;
	&__container {
	}

	&__title {
		padding-bottom:200px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__column {
	}
}

.column__price{
	display: flex;
	flex: 1 1 33%;
	flex-direction: column;
	align-items: center;
	background-color: $colorWhite;
	border-radius: 10px;
	&-mid{
		position: relative;
		border-radius: 0 0 10px 10px;
		margin: 0 30px;
	}
	&-date {
		font-weight: 500;
		font-size: 25px;
		line-height: 1.16;
		padding: 70px 0 25px 0;
	}
	&-price {
		font-weight: 700;
		font-size: 60px;
		line-height: 1.16;
		padding-bottom: 25px;
	}
	&-sale {
		font-weight: 500;
		font-size: 25px;
		line-height: 1.16;
		color: $colorGray;
		padding-bottom: 40px;
	}
	&-button {
		margin-bottom: 50px;
		background: $colorBlue;
		border-radius: 10px;
		padding: 15px 30px;	
		color: $colorWhite;
		font-size: 18px;
		line-height: 1.16;
		opacity: 0;
		&._anim{
			transition: opacity 0.5s ease 0.5s;
			opacity: 1;
		}
	}
	&-pop {
		font-weight: 500;
		font-size: 25px;
		line-height: 1.16;
		background:$colorBlue;
		border-radius: 10px 10px 0px 0px;
		color: $colorWhite;
		width: 100%;
		text-align: center;
		padding:18px;
		position: absolute;
		top: -16%;
	}
}

//----------------------------------------
@media (max-width:991.98px) {
	.price{
		padding-bottom: 75px;
	}
}
@media (max-width:767.98px) {
	.price__title{
		padding-bottom: 75px;
	}
	.price__row{
		flex-direction: column;
	}
	.column__price-mid{
		margin:90px 0 25px 0;
	}
}
//----------------------------------
.blog {
	padding-bottom: 150px;
	&__container {
	}

	&__title {
		padding-bottom: 150px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 25px;
	}
}

.column__blog {
	position: relative;
	flex: 1 1 50%;
	&-img {
		img{
			width: 100%;
			height: 100%;
			object-fit:contain;
		}
	}

	&-title {
		position: absolute;
		top: 40%;
		left: 5%;
		font-weight: 700;
		font-size: 40px;
		line-height: 1.16;
		color: $colorWhite;
		opacity: 0;
		&._anim{
			transition: all 0.5s ease 0.5s;
			opacity: 1;
		}
	}

	&-text {
		position: absolute;
		top: 55%;
		left: 5%;
		font-size: 20px;
		line-height:1.16;
		color: $colorWhite;
		opacity: 0;
		&._anim{
			transition: all 0.5s ease 1.0s;
			opacity: 1;
		}
	}

	&-button {
		position: absolute;
		top: 80%;
		left: 5%;
		opacity: 0;
		&._anim{
			transition: all 0.5s ease 1.5s;
			opacity: 1;
		}
	}
}
//------------------------------------------
@media (max-width:991.98px) {
	.blog{
		padding-bottom: 75px;
		&__title{
			padding-bottom: 75px;
		}
		&__row{
			flex-direction: column;
		}
	}
}
@media (max-width:450px) {
	.column__blog{
		&-button{
			top: 75%;
		}
		&-title{
			top: 25%;
			font-size: 30px;
		}
		&-text{
			top: 45%;
			font-size: 15px;
		}
	}
}
//--------------------------------------------
.about {
	padding-bottom: 150px;
	&__container {
	}

	&__body {
		margin: 0 auto;
		max-width: 800px;
		background: $colorWhite;
		box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
		border-radius: 25px;
	}

	&__body-title {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.16;
		padding: 35px 0 25px 45px;
	}

	&__body-form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:0 45px 35px 45px;
	}

	&__body-mail {
		font-size: 20px;
		line-height: 1.16;
		color: rgba(196, 196, 196, 0.83);
		padding: 5px;
		width: 75%;
		&:focus{
			border: 1px solid $colorBlue;
			border-radius: 5px;
			color: #000;
		}
	}

	&__body-button {
		background-color: $colorBlue;
	}
}
//------------------------------------
@media (max-width:991.98px) {
	.about{
		padding-bottom: 75px;
		&__title{
			padding-bottom: 75px;
		}
		&__body-form{
			flex-direction: column;
			align-items: flex-start;
		}
		&__body-mail {
			margin-bottom: 25px;
			width: 100%;
		}
	}
}
//--------------------------------------
.footer {
	padding: 150px 0 75px 0;
	background-color: $colorBlue;
	&__container {
	}

	&__row {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__column {
	}

	&__column-logo {
	}

	&__column-text {
		color: $colorWhite;
		font-size: 18px;
		line-height: 1.16;
		padding: 0 10px;
	}
	&__column-social-link{
		&:not(:last-child) {
			padding-right: 25px;
		}
	}
	&__column-social-img {
		&:hover{
			transform: rotate(360deg);
			transition: all 0.3s ease 0s;
		}
	}
}
//-------------------------------------------
@media (max-width:991.98px) {
	.footer{
		padding: 75px 0 75px 0;
	}
}
@media (max-width:767.98px) {
	.footer__column-social-link{
		display: flex;
		&:not(:last-child) {
			padding:0 0 25px 0;
		}
	}
	
}
//------------------------------------------------
